@import "app";

body {
    background: $body-bg;
}

.wrapper {
	margin: auto;
	padding-top: 3rem;
	width: 70rem;
}

label, .label  {
	text-align: right;
	&.required {
		&:after {
			content: '*';
			color: red;
			padding-left: .2rem;
		}
	}
}

.label {
	&:after {
		content: ':';
	}
}

#servicesIndex {
	.service {
		&:not(:first-of-type) {
			margin-top: .5rem;
			padding-top: .5rem;
		}

		.tariff {
			padding: .5rem;

			&:not(:first-of-type) {
				border-top: $border-width solid $border-color;
			}
		}
	}
}


